.idea/
Thumbs.db
.DS_Store
.env
.phpunit.result.cache

/vendor/*
/var/cache/*
/var/logs/*
public/cache/*
public/uploads/*
public/vendor/*

!/var/cache/README.md
!/var/logs/README.md
!public/cache/README.md
!public/uploads/README.md
!public/vendor/README.md

/composer.lock

/app/settings.local.php
/langs/dev.json