sudo: false

language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

matrix:
  allow_failures:
  - php: 7.1

before_script:
  - composer install --no-suggest ;

script:
  - if [ "$TRAVIS_PHP_VERSION" == "7.0" ] ; then vendor/bin/phpunit --coverage-clover clover.xml ; fi
  - if [ "$TRAVIS_PHP_VERSION" == "7.0" ] ; then vendor/bin/phpcs ; fi
  - if [ "$TRAVIS_PHP_VERSION" != "7.0" ] ; then vendor/bin/phpunit ; fi

after_script:
  - if [ "$TRAVIS_PHP_VERSION" == "7.0" ] ; then vendor/bin/coveralls --coverage_clover=clover.xml -v ; fi
